<div class="navbar navbar-fixed-top">
  <!-- Logo -->
  <div class="pop-logo">
    <a href="/" class="navbar-brand">
      <%= image_tag "heart.jpg", alt:"Pop Shop logo" %>
    </a>
  </div>
  <div class="container">
    <div class="navbar-right hidden-xs hidden-sm">

      <a href="" class="navbar-item navbar-link"><i class="fas fa-search"></i> Discover</a>
      <h4 class="navbar-item navbar-link" ><%= link_to 'Start Shopping', products_path %></h4>
      <a href="" class="navbar-item navbar-link"><i class="far fa-star"></i> Wish List</a>
      <a href="" class="navbar-item navbar-link"><i class="fas fa-shopping-bag"></i> Shopping Bag</a>

      <div class="navbar-item avatar">
        <%= image_tag "dogavatar.jpg", height: 50 %>
        <div class="dropdown">
          <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Log Out</a></li>
          </ul>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
