<div class="ps-navbar">
  <div>
    <a href="/">
      <%= image_tag "popshop-logo.png", alt:"Pop Shop logo", height: "40px" %>
    </a>
  </div>
  <div class="ps-navbar-items">
    <%= link_to products_path do %>
      <i class=" fas fa-search"></i> Discover
    <% end %>
    <%= link_to orders_path do %>
      <i class=" fas fa-shopping-bag"></i> Purchase History
    <% end %>
  </div>
</div>
