<div class="container order-confirmation">
    <h1> Order Confirmation</h1>
      <p> Your <%= @product.title %> should arrive in 3 - 5 business days </p>
      <%= cl_image_tag @product.photo, width: "50%" %>
      <p> Thank you for shopping with us!</p>
  </div>
</div>
