// .banner h1 {
//   color: red;
//   text-align: center;
// }
// .cover-img {
//   background-size: cover;
//   display: flex;
//   height: 100vh;
//   text-align: center;
// }

.banner {
  background-image: linear-gradient(rgba(36, 64, 104, 0.5), rgba(36, 64, 104, 0.5)), url(../fireworks.jpg);
  background-size: cover;
  background-position: center;
  padding: 70px 0px;
  color: black;
}

.text-block {
  position: relative;
  bottom: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 1px;
}
.header_logo {
  text-align: center;
  padding-top: 4px;
  p {
    letter-spacing: 3px;
  }
}

.product-showcase {
  background-color: red;
}

.product-showcase2{
  background-color: green;
}


@media(max-width: 992px) {
  .container {
    width: 750px;
  }
}

@media(max-width: 768px) {
  .container {
    width: 500px;
  }
}

@media(max-width: 480px) {
  .container {
    width: 350px;
  }
}

