// .banner h1 {
//   color: red;
//   text-align: center;
// }
// .cover-img {
//   background-size: cover;
//   display: flex;
//   height: 100vh;
//   text-align: center;
// }

.banner {
  background-image: linear-gradient(rgba(36, 64, 104, 0.5), rgba(36, 64, 104, 0.5)), url(../desert.jpg);
  background-size: cover;
  background-position: center;
  padding: 70px 0px;
  color: black;
}

.banner1 {
  display: flex;
  justify-content: flex-start;
}

.text-block {
  position: relative;
  bottom: 2px;
  background-color: white;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 1px;
  margin-right: 230px;
  align-items: center;
  border-radius: 2px;
}
.header_logo {
  text-align: center;
  padding-top: 4px;
  p {
    letter-spacing: 3px;
  }
}

.product-showcase {
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
}

.product-showcase h2 {
  position: absolute;
  color: white;
  font-size: 32px;
  font-weight: normal;
}

.product-showcase1 h2 {
  position: absolute;
  color: black;
  font-size: 32px;
  font-weight: normal;
}

h2.large-banner-pic {
  padding-left: 18px;
}

h2.small-banner-pic {
  padding-left: 18px;
}
.product-showcase p {
  position: absolute;
}

.product-showcase1 {
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
}

.product-showcase2{
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding-top: 2%;
}

.container.banner1 a {
  color: white;
  background-color: black;
  border-radius: 2px;
  padding: 9px 11px;
  font-weight: 400;
}

.start-shopping-link {
  margin-top: 5px;
}

.container.banner1 a:hover {
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 2px;
}

@media(max-width: 992px) {
  .container {
    width: 750px;
  }
}

@media(max-width: 768px) {
  .container {
    width: 500px;
  }
}

@media(max-width: 480px) {
  .container {
    width: 350px;
  }
}

