.ps-navbar {
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 24px;
  background-color: white;
  width: 100%;
  border-bottom: 0.2px solid #e0e4e8;
  z-index: 1;
}

.ps-navigation {
  display: flex;
  align-items: center;

  a {
    // color: #333333;
    margin-right: 8px;
    &:hover {
      text-decoration: none;
      // color: #333333;
    }
  }
}
.ps-navbar img {
  margin: 8px 0;
  padding-top: 5pxblack}


.menu {
  margin-right: 10px;
}

.icon-bar {
  background-color: white !important;
}

.active a {
  background: #333333;
  border-bottom: solid 5px white;
}

.btn-secondary.dropdown-toggle {
  background-color: #333333;
  border-color: #333333;
}

.show>.btn-secondary.dropdown-toggle {
  color: white;
  background-color: #333333;
  border-color: #333333;
}

.btn:hover {
  color: white;
}

.btn:hover {
  color: white;
}

.btn.focus {
  color: white;
}
