.ps-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 24px;
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0px;
  border-bottom: 0.2px solid #e0e4e8;
  z-index:1;
}

.ps-navbar-items a {
  margin-left: 19px;
  color: #333333;
  margin-right: 0px;
}

.ps-navbar-items a:hover {
  text-decoration: none;
  color: red;
}

.ps-navbar img {
  margin: 8px 0;
  padding-top: 5px;
}


.menu {
  margin-right: 10px;
}

.mobile-menu {
  i {
    color: white;
  }
  ul {
    padding: 0px;
  }
  a {
    display: block;
    padding: 10px 0px 10px 25px !important;
  }
  a:hover {
    background: white !important;
    color: black !important;
    i {
      color: black;
    }
  }
}

.icon-bar {
  background-color: white !important;
}

.active a {
  background: red !important;
  border-bottom: solid 5px white;
}

.dropdown-toggle, .dropdown-menu {
  background: red !important;
  border: none;
}

.dropdown-menu a:hover {
  color: black !important;
  background: white !important;
}

.nav.navbar-nav {
  float: right;
}

#navbar-collapsible-content {
  margin-left: 0px;
  margin-right: 0px;
}
