.order-confirmation {
  text-align: center;
}

.order-confirmation p {
  margin-top: 15px
}

.ps-payment a {
  color: white;
}

.ps-payment:hover a {
  color: black;
  text-decoration: none;
}

.btn-primary {
  background-color: black;
  border-color: black;
  font: white;
}
