.order-confirmation {
  text-align: center;
}

.order-confirmation p {
  margin-top: 15px
}

.ps-payment a {
  color: white;
}

.ps-payment:hover a {
  color: #6c757d;
  text-decoration: none;
}

.btn-primary {
  background-color: #6c757d;
  border-color: #6c757d;
}
