<div class="container">
<h1>Pop Shop Goodies </h1>
    <div class="cards">
      <div class="row">
      <% @products.each do |product| %>
        <%= render "products/textimage", product:product %>
      <% end %>
      </div>
    </div>
    <div>
      <h3 ><%= link_to 'Add New Item', new_product_path %></h3>
    </div>
</div>
