<h1>Show Page</h1>
<p> Displays a specific product </p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>image_url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>asking_price:</strong>
  <%= @product.asking_price %>
</p>
