
<div class="container">
  <div class="show-title">
    <h1><%= @product.title %></h1>
    <p> Displays a specific product </p>
  </div>
  <div>
  </div>
  <div class="show-essential">
    <div class="show-photo">
      <% if @product.photo.present? %>
        <%= cl_image_tag @product.photo, height: 400, width: 500, crop: :fill %>
      <% end %>
      <p>
        <% @product.photo %>
      </p>
    </div>
    <div class="product-description">
      <p>
        <%= @product.description %>
      </p>
      <p>$
        <%= @product.asking_price %>
      </p>
    </div>
    <button class="btn-primary"> Purchase</button>
  </div>
</div>


