<h1>Show Page</h1>
<p> Displays a specific product </p>

<% if @product.photo.present? %>
  <%= cl_image_tag @product.photo, height: 200, width: 300, crop: :fill %>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <% @product.photo %>
</p>

<p>
  <strong>asking_price:</strong>
  <%= @product.asking_price %>
</p>
